.campaign-name {
    text-align: left;
    width: 30%;
    margin: 1%;
    font-weight: normal;
    font-size: 15px;
}

.wrapper{
    border: 1px solid #d8dde6;
}

.nomonation-title {
    text-align: center;
    font-size: 25px;
    height: 10%;
}
.nomination-picture {
    width: 100%;
    object-fit: cover;
}

.fields-wrapper {
    height: 300px;
}

.fields-wrapper:hover {
    cursor: pointer;
    background-color: rgb(176, 173, 171);
}

.selected-record {
    background-color: rgb(176, 173, 171);
}

.profile-picture {
    width:  100%;
    height: 100px;
    object-fit: cover;
}