.campaign-name {
    text-align: left;
    width: 30%;
    margin: 1%;
    font-weight: normal;
    font-size: 15px;
}
.wrapper{
    border: 1px solid #d8dde6;
}

.fields-wrapper {
    height: 200px;
}

.fields-wrapper:hover {
    cursor: pointer;
    background-color: rgb(176, 173, 171);
}

.selected-record {
    background-color: rgb(176, 173, 171);
}

.profile-picture {
    width:  100px;
    height: 150px;
    object-fit: cover;
}